<%= render "partial/navbar" %>

<h1>Terrains#show</h1>
<p>Find me in app/views/terrains/show.html.erb</p>
<div><%= @terrain.nom %></div>
<div><%= @terrain.surface %></div>
<div><%= @terrain.description %></div>