<div class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="container">
      <p class="navbar-text pull-left"> 2017 O Tennis - Tous droits réservés

      </p>
  
    </div>
    
  </div>






