<div class="search-profile">
  <div class="col-md-6 col-sm-12">
    <%= image_tag('jacket-default.png') %>
    <label>Note globale</label>
    <div class="stars">
      <div class="star icon-yellow"></div>
      <div class="star icon-yellow"></div>
      <div class="star icon-yellow"></div>
      <div class="star icon-yellow"></div>
      <div class="star"></div>
    </div>
    <% link_to 'Consulter', profile_path %>
  </div>
  <div class="col-md-6 col-sm-12">
    <h1>Florian D.</h1>
    <h2>@Fodel</h2>

    <span>Homme</span>
    <span>29 ans</span>
    <span>Paris 16e</span>
    <span>Niveau 30/5</span>
  </div>
</div>