		header {
		  /*width: 100%;
		  height: 70px;
		  background-color: #FD9232;
		  padding: 10px;

		*/


		.navbar-inverse .navbar-nav>li>a {
    	color: white;
}
		.navbar-inverse {
		    background-color:#FD9232;
		}


		@media screen and (min-width: 768px){

		.navbar {
		    border-radius:0px;
		    margin-bottom:0px;

		}


		}

		}

