
.discover {
  background-image: url("images/../tennis-joueurs.jpg");
  height: 100%;
  width: 100%;

  h1 {
    text-align: center;
    color: #F6A623;
    margin-top: 0;
    padding-top: 5%;

  }

  .carousel {
    background: transparent;
    margin-top: 20px;

  }
  .carousel .item {
    min-height: 200px; /* Prevent carousel from being distorted if for some reason image doesn't load */
  }
  .carousel .item img {
    margin: 0 auto; /* Align slide image horizontally center */
  }
  .bs-example {
    margin: 20px;
  }

  .carousel-control.right {
    display: none;
  }

  .carousel-control.left {
    display: none;
  }

  .item {
    padding-top: 3%;
    background-color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 3%;

    h3 {
      color: #2F3531;

    }

  }

  .carousel-indicators {

    bottom: -100px;
  }

  .carousel-indicators li {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    text-indent: -999px;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    border: none;
    margin-top: 200px;
  }
  .carousel-indicators .active {

    background: #F6A623;

  }

  .img_discover {
    width: 200px;
    height: 200px;
  }

}

@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: -200px;
  }

}





