// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topprofil{
	background:white;
	padding-top:1%;

	a{
		color:#F6A623;
	}


	.img_profil{
		border-radius:50%;

	}

	.img_milieu{
	    text-align:center;
	    text-transform: lowercase;

	    .name{
	    color:#F6A623;
	    font-size:1.3em;
	    text-transform: capitalize;
	}

	}
}


	.tabsprofil{
		a{
			color:grey;
		}
		.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
			border:none;
			background:white;
    		color:#F6A623;
    		border-color:white;
	}
	.nav-tabs>li a:hover {
		color:#F6A623;
		border:none;
		background:white;
		border-color:white;

	}


	.distinction1{
		border: 2px solid #F6A623;
		margin:20px;
	}

	.distinction2{
		border: 2px solid #D3D3D3;
		margin:20px;
	}

	.img_distinction{
		width:60px;
		height:60px;
		margin:20%;
	}
	.img_reseau{
		width:60px;
		height:60px;
		border-radius:50%;

	}
	.description_reseau{
		text-align:center;
		margin-top: 10px;
	}
	.namelink{
		color:#F6A623;
		padding-right: 10px;
	}
	.pseudolink{
		color:#d3d3d3;
		margin-top:-5px;
		padding-right: 10px;
	}
	.fav{
		border-left: 2px solid #d3d3d3;
	}

	.note{
		text-align:center;
		margin-top:30px;

			.notation{
	padding-right:20%;
	padding-left:20%;

}
.etoile1{
	width:40px;
	height:40px;
}

.etoile2{
	width:15px;
	height:15px;
}

	}

}

// historique 

.victoire{
	color: green;
	font-size:2em;
}
.defaite{
	color: red;
	font-size:2em;
}
.pseudo{
	color: #F6A623;
}
.historique{
	margin:20px;
	padding:10px;
}


